<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="nvafx-audio-cli"
      Manufacturer="Eikai Information Systems"
      Version="$(var.ProductVersion)"
      UpgradeCode="{D64F8B0B-DC23-4CB6-9D09-247ABF7D9830}"
      Scope="perMachine">
    <SummaryInformation Description="nvafx-audio-cli Windows x64 installer" Manufacturer="Eikai Information Systems" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of nvafx-audio-cli is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="nvafx-audio-cli">
        <Component Id="cmpNvafxAudioCliExe" Guid="{A73E4B02-7485-49C5-8DB2-FA91AC0D1130}" Bitness="always64">
          <File Id="fileNvafxAudioCliExe" Source="$(var.PayloadDir)\nvafx-audio-cli.exe" KeyPath="yes" />
        </Component>
        <Component Id="cmpReadme" Guid="{5B1A7953-AE69-4300-995F-10C071297A5B}" Bitness="always64">
          <File Id="fileReadme" Source="$(var.PayloadDir)\README.md" KeyPath="yes" />
        </Component>
        <Component Id="cmpLicense" Guid="{15F79043-69E0-42BF-8546-032081CE74FB}" Bitness="always64">
          <File Id="fileLicense" Source="$(var.PayloadDir)\LICENSE" KeyPath="yes" />
        </Component>
        <Component Id="cmpThirdPartyNotices" Guid="{A17FC5B3-0545-406D-B670-D37552E455AB}" Bitness="always64">
          <File Id="fileThirdPartyNotices" Source="$(var.PayloadDir)\THIRD_PARTY_NOTICES.md" KeyPath="yes" />
        </Component>
        <Component Id="cmpBuildInfo" Guid="{55D31382-A730-4BE0-903E-020DBE97A127}" Bitness="always64">
          <File Id="fileBuildInfo" Source="$(var.PayloadDir)\BUILD_INFO.txt" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="DefaultFeature" Title="nvafx-audio-cli" Level="1">
      <ComponentRef Id="cmpNvafxAudioCliExe" />
      <ComponentRef Id="cmpReadme" />
      <ComponentRef Id="cmpLicense" />
      <ComponentRef Id="cmpThirdPartyNotices" />
      <ComponentRef Id="cmpBuildInfo" />
    </Feature>
  </Package>
</Wix>
